<div class="container">
    <div class="col-lg-12 mt-5">



        <form action="" class="col-md-5 m-auto bg-info p-5 rounded-5" #UserEditForm="ngForm"
            (ngSubmit)="onSubmit(UserEditForm)">
            <h1 class="text-center">{{page_title}}</h1>
            <hr>
            <p *ngIf="status != 'success'">Registrate para añadir comentarios</p>


            <div class="alert alert-success raw" *ngIf="status == 'succes'">
                El registro se a completado correctamente <a [routerLink]="['/login']">logueate aqui</a>
            </div>
            <div class="alert alert-danger raw" *ngIf="status == 'error'">
                El registro no se a completado correctamente o ya existe este usuario, vuelve a intentarlo.
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col" *ngIf="identity.image != null">
                        <img class="rounded-5" src="{{url + 'avatar/' + identity.image }}" width="200">
                    </div>
                    <div class="col" *ngIf="identity.image == null">
                        <img class="rounded-5" src="../../../assets/defect.png" width="200">
                    </div>
                    <div class="col mt-5">
                        <angular-file-uploader [config]="afuConfig" [resetUpload]=true
                            (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                    </div>
                </div>

            </div>
            <br>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required
                    pattern="[a-zA-Z]+">

                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es
                    valido</small>
            </div>
            <div class="form-group">
                <label for="surname">Apellidos</label>
                <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname"
                    required
                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}">

                <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">Los apellidos no son
                    validos</small>
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El email no es
                    valido</small>
            </div>

            <br>
            <input type="submit" value="Aplica Cambios" class="btn btn-dark" [disabled]="UserEditForm.invalid">
        </form>
    </div>
</div>